language: android
jdk: oraclejdk8
android:
  components:
    - platform-tools
    - build-tools-23.0.1
    - addon-google_apis-google-23
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository

before_install:
  - echo yes | android update sdk --all --filter build-tools-23.0.1 --no-ui --force > /dev/null
  - export JAVA7_HOME=/usr/lib/jvm/java-7-oracle
  - export JAVA8_HOME=/usr/lib/jvm/java-8-oracle
  - export JAVA_HOME=$JAVA7_HOME
script:
  - ./gradlew clean assemble
  
